.photo-grid{
    max-width: 1184px;
    margin: 0 48px;
    padding: 92px 0 0;
}

@media screen and (max-width: 1024px){
    .photo-grid{
        padding-top: 92px;
    }
}

@media screen and (max-width: 768px){
    .photo-grid{
        padding-top: 88px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 425px){
    .photo-grid{
        padding-top: 64px;
        margin: 0 16px;
    }   
}