.footer__copyright{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: right;
    color: #FFF;
    box-sizing: border-box;
    min-width: 186px;
}

@media (max-width: 425px){
    .footer__copyright{
        line-height: 1;
        text-align: left;
        margin: 0;
    }
}